ALTER TABLE spots ADD COLUMN kosher_certificate TEXT; UPDATE spots SET kosher_certificate = NULL WHERE kosher_certificate IS NULL; UPDATE spots SET kosher_type = '?' WHERE kosher_type = 'לא כשר'; ALTER TABLE spots DROP CONSTRAINT IF EXISTS spots_kosher_type_check; ALTER TABLE spots ADD CONSTRAINT spots_kosher_type_check CHECK (kosher_type IN ('מהדרין', 'רבנות', '?'));
